/* some css style  */
.images img {
    width: 355px;
    height: 200px;
    border-radius: 16px;
}

.new-badge {
    position: absolute;
    top: 30px;
    right: 30px;

}

#modal-container .btn-close {
    background-color: red;
    width: 54px;
    padding: 20px;
    clip-path: circle(30%);
    position: absolute;
    z-index: 1;
    top: -33px;
    right: -51px;
}

/* responsive start  */
@media screen and (max-width:576px) {
    .images img {
        width: 294px;
        height: 162px;
        border-radius: 10px;
    }

    #modal-container .btn-close {
        top: 2px;
        right: -14px;
    }

    .price,
    .feature_name {
        flex-direction: column;
    }
}